@charset "utf-8";
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #DAD9D7;
  font-family: 'Josefin Sans', sans-serif;
}

.register{
    width: 1000px;
    height: 850px;
    margin: 50px auto;
    background-color: white;
    box-shadow: 0 15px 25px 0 black;
}

.logo {
  width: 50%;
  height: 850px;
  position: relative;
  float: left;
  border: none;

}
img{
  margin-top: 300px;
  width: 500px;
  height: 300px;
  padding: 0px 45px;
}
.form{
  width: 50%;
  height: 850px;
  background-color: #E2EFDE;
  float: left;
  position: relative;
  text-align: center;
}
form h1{
  margin-bottom: 15px;
  margin-top: 30px;
}


form p{
  margin-bottom: 15px;
}
form .free{
  margin-bottom: 35px;
  font-size: 18px;
}
form{
  width: 90%;
  height: 600px;
  padding: 0px 45px;
  position: absolute;
  top:125px;
  left: 5%;
  color: #808F87;

}

input {
  width: 100%;
  padding: 9px 8px;
  margin-bottom: 16px;
  background-color: Transparent;
  border: 1px solid #808F87;
}
input[type=submit]{
  background-color: #808F87;
  color : white;
  border : none;
  height: 45px;
  margin-top: 35px;
}


form a{
  text-decoration: none;
  padding: 5px 15px;
  border-bottom: solid 2px #808F87;
  color: #808F87;
}
.term{
  text-align: left;

}
.term input{
  width: auto;

}
.term p{
  display: inline;
  color: #808F87;
  font: 13px;
}
